@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
@import url("logo.css");
@import url("questions.css");
* {
   margin: 0;
   padding: 0;
   font-family: "Kumbh Sans", sans-serif;
   font-weight: 400;
}
body {
   height: auto;
   background: linear-gradient(
      to bottom left,
      hsl(273, 75%, 66%) 50%,
      hsl(240, 73%, 65%)
   );
   background-repeat: no-repeat;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 100px 20px 50px 20px;
}

.main {
   background-color: white;
   border-radius: 20px;
   height: auto;
   width: 100%;
   margin: 0 20px;
   padding: 20px 20px;
   box-shadow: 0 15px 50px black;
   display: flex;
   align-items: center;
   flex-direction: column;
}
